*{
    margin: 2vh;
}
.cuerpo{
    background-color:#FFF2F1;
}
h1, .inl{
    display:inline; 
}
.aula{
    display: inline;
    margin-top: 2vh;
    display:inline; 
}
.separador{
    height: 1vh;
    background-color: black;
}
.containers{
    border-radius: 10px;
    border: 2px solid #000000;
    height: 20vh;
    background-color:#119DA4;
}
#icon{
    width: 20px;
}
#retroceso{
    float: right;
    width: 50px;
}
.logo-home{
    width: 50px;
}
.footer{
    
}